body{
    /* font-size: 1.40rem; */
}

/* searchbar */
.searchBar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding:15px 10px;
    border-bottom: 0.1em solid lightgray;
    background-color: white;
}

.searchBar input{
    padding: 5px 180px;
   
}
button{
    padding: 5px 5px;
}

.login{
    margin-right: 60px;
}
.logo{
    margin-left: 60px;
}
/* navigation */
ul{
    list-style: none;
}
.rootContainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 59px;
   
}


.sideBar{
   position: fixed;
   grid-column-start: 1;
   grid-column-end:3 ;
   border-right: 0.1em solid lightgrey;
   line-height: 3;
   padding-right: 10px;
}

ul li a{
 
   text-decoration: none;
   margin-left: 15px;
}

/* ul li p{
   position: relative;
   top: 3px;
   margin-right: 5px;
} */
.postContainer{
    grid-column-start: 3;
    grid-column-end: 12;
    /* width: 20px 100%;
    border: 1px solid red; */
}

.redditSection{
    width:80%;
    margin: 20px auto;
 
}

.postSection{
    /* border: 0.1em solid lightgray; */
    width: 100%;
    margin-bottom: 30px;
}

.post{
    border-radius: 10px;
    width: 70%;
    border-top: 0.1em solid lightgrey;
    /* padding: 10px; */

}
.post:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.postTime{
    display: flex;
    justify-content: space-between;
    /* width: 95%; */
}

.postTitle , .postTime{
    /* border: 1px solid; */
    padding: 0 20px ;

}
.postTime .join a{
    background-color: darkblue;
    color: white;
    padding: 2px 10px;
    border-radius: 15px;
    font-weight: bold;
  
   
}

.imgContainer{
    width: 100%;
    border-radius: 5px;
    margin: 10px;
}

img{
    width: 95%;
    margin: 10px;
    background-color: lightgray;
}
.imgIcons{
    /* border: 1px solid; */
    margin: 0;
    width: 95%;
}
.imgIcons ul{
    display: flex;
    justify-content: space-between;

}






